.addGroupForm{
    width: 50%;
    margin:0 auto;
    padding-top:10%;


}

.addGroupForm > *{
    margin: 10px;
    font-size: 2em;
}


.addGroupForm > input{
    border-radius: 8px ;
    border: none;
    padding: 5px;
}

.addGroupForm > label{
    font-family: 'Pompiere', cursive;
    font-size:3em;
    kerning: 0.2em;
    text-transform: uppercase;
    letter-spacing: .2em;}

.plusCircle{
    border-radius: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color:#000;
    background-color: transparent;
    border:solid;
    border-color: #000 ;
}

